body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    font-family: sans-serif;
}

/* so the icon doesn't effect the action of the button */
button > * {
    pointer-events: none;
}

ul {
    padding-left: 0px;
}

li {
    list-style-type: none;
}

.nav-item {
    color: #000;
}

.nav-item:active {
    color: red;
}

.nav-item:hover:not(.active) {
    background-color: #555;
    color: white;
}

header {
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    background-color: #fff;
}

/* Avatar preview styling */
.avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#mobileMenuBtn {
    display: none;
}

#adminContent {
    width: 80%;
    float: right;
    position: relative;
    top: 68px;
}

#adminContent > * {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

#adminContent li {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    display: flex;
    align-items: center;
}

#adminContent li .link-name {
    margin-top: 0px;
}

#adminContent li .show-color {
    width: 12px;
    height: 100%;
    margin-right: 20px;
}

/* Admin Links */
#displayLinks .link-name {
    color: #000;
    text-transform: capitalize;
}

#displayLinks li {
    background-color: #fff!important;
}

/* Display Page */
#bodyDiv {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.profile-image-div {
    margin: 0px auto;
}

#linksDiv {
    max-width: 50%;
    margin: 0px auto;
}

.displayed-link {
    display: block;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
}

/* The side navigation menu */
.sidebar {
    /* display: block; */
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #fff;
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 68px;
}

/* Sidebar links */
.sidebar a {
    display: block;
    padding: 16px;
    text-decoration: none;
}

.header-img-div, .background-img-div {
    width: 100%;
    height: 100px;
}

.profile-color-preview, .profile-image-div {
    height: 100px;
    width: 100px;
    background-color: grey;
    border-radius: 50%;
}
/* 
.header-img-div, .profile-image-div {
    background-size: cover;
    background-repeat: no-repeat;
} */

/* Drop down select styling */
.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
}

.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 0 2px 0 2px;
    border-style: solid;
    border-color: #394a6d;
}

.custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 20px;
    font-weight: 300;
    color: #3b3b3b;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    cursor: pointer;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: #394a6d;
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid #394a6d;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}

.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s;
}

.custom-option:hover {
    cursor: pointer;
    background-color: #fff;
    color: #444;
}

.custom-option.selected {
    /* color: #ffffff; */
    /* background-color: #305c91; */
}

.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}

.arrow::before,
.arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}

.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: #394a6d;
}

.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #394a6d;
}

.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}

.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}

.black-bg {
    background-color: #000;
}

.blue-bg {
    background-color: blue;
}

.red-bg {
    background-color: red;
}

.green-bg {
    background-color: green;
}

.sm-box {
    height: 20px;
    width: 20px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        display: none;
        width: 100%;
        height: auto;
        position: relative;
    }

    /* toggle navigation */
    .shownavigation {
        display: block;
    }

    #mobileMenuBtn {
        display: block;
    }

    .sidebar a {
        text-align: center;
        float: none;
    }
    .sidebar a {
        text-align: center;
        float: none;
    }

    .profile-div {
        display: flex;
        flex-flow: row;
        align-items: center;
    }

    .profile-div h4 {
        margin-right: 20px;
    }

    .profile-div i {
        font-size: 34px;
    }

    #adminContent {
        width: 100%;
        position: relative;
        top: 68px;
    }

}


/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
     
}