body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    font-family: sans-serif;
}

/* so the icon doesn't effect the action of the button */
button > * {
    pointer-events: none;
}

ul {
    padding-left: 0px;
}

li {
    list-style-type: none;
}

.active {
    color: #fff!important;
    background-color: red;
}

.hide {
    display: none;
}

#backToPanelBtn {
    display: none;
}

#siteLogo {
    font-size: 22px;
    color: black;
    text-decoration: none;
    font-style: italic;
}

.nav-item {
    color: #000;
}

.nav-item:active {
    color: red;
}

.nav-item:hover:not(.active) {
    background-color: #555;
    color: white;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    background-color: #fff;
    padding-left: 14px;
    padding-right: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 76%;
    width: 100%;
}

.btn {
    background-color: red;
    padding: 12px 18px;
    font-size: 14px;
    color: #fff;
    height: 100%;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    text-align: center;
}

/* Avatar preview styling */
.avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#mobileMenuBtn {
    display: none;
}

#adminContent {
    width: 80%;
    float: right;
    position: relative;
    top: 68px;
}

#adminContent > * {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

#adminContent li {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    display: block;
}

#adminContent li .link-name {
    margin-top: 0px;
}

#adminContent li .link-url {
    white-space: nowrap;
    overflow-x: auto;
}

#adminContent li .show-color {
    width: 12px;
    height: 100%;
    margin-right: 20px;
}

/* Admin Links */
#displayLinks .link-name, #linksDiv .displayed-link {
    color: #000;
    text-transform: capitalize;
}

#displayLinks li, #displayLinks li .link-content-div {
    width: 500px;
    overflow-x: auto;
}

#displayLinks .link-name[contenteditable="true"], .edit-contentable{
    border: 1px solid #000;
    border-radius: 2px;
    width: 494px;
    padding: 2px;
    font-size: 14px;
    margin: 0;
}

.edit-contentable {
    margin: 12px 0px;
}

.buttons button {
    background: none;
    border: none;
    font-size: 18px;
}

.buttons .trash {
    color: red;
}

.buttons .edit {
    color: gray;
}

.buttons #buttonFinalize {
    font-size: 14px;
    float: right;
    color: #fff;
    background: green;
    border-radius: 3px;
    padding: 4px 10px;
}

#editSection #linkUrl {
    border: 1px solid #000;
    border-radius: 2px;
    width: 400px;
    padding: 3px;
    font-size: 16px;
}

.link-input-div {
    display: grid;
    grid-template-columns: 1fr 18fr 3fr;
    align-items: center;
    margin-bottom: 26px;
    border: none;
    border-bottom: .25px solid #888;
    background: transparent;
    padding: 12px 4px 12px 4px;
}

#inputProfileName, .link-input {
    border: none;
    /* border-bottom: .25px solid #888; */
    background: transparent;
    padding: 12px 60px 12px 4px;
}

.adminSocialMediaDiv .link-input {
    min-width: 400px;
}

.social-media-trash-btn {
    border: none;
    background: none;
    text-align: right;
}




#addLinkForm {
    margin-top: 20px;
    margin-bottom: 40px;
}

.addLink-inputBox-div {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    max-width: 600px;
}

.addLink-inputBox {
    border: none;
    border-bottom: .25px solid #888;
    background: transparent;
    margin: 10px 0;
    padding: 12px 18px;
    min-width: 100px;
    max-width: 300px;
    width: 38%;
}

/* Display Page */

#viewContent {
    padding-top: 80px;
    padding-bottom: 80px;
}

#bodyDiv {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

#bodyDiv .profile-image-div {
    margin: 0px auto;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

#bodyDiv .username-heading {
        color: #fff;
        margin-bottom: 40px;
        font-size: 22px;
}

#linksDiv {
    max-width: 70%;
    margin: 0px auto;
}

#linksDiv .link-wrapper {
    max-width: 700px;
    margin: 0px auto;
}

.displayed-link {
    display: block;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
    text-decoration: none;
}

#socialMediaDisplayDiv {
        text-align: center;
        max-width: 300px;
        margin: 0 auto;
}

#socialMediaDisplayDiv a {
    font-size: 32px;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

/* The side navigation menu */
.sidebar {
    /* display: block; */
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #fff;
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 68px;
}

/* Sidebar links */
.sidebar a {
    display: block;
    padding: 16px;
    text-decoration: none;
}

.adminBackgroundDiv, .adminProfileDiv {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.adminBackgroundDiv .background-img-div,
.adminProfileDiv .profile-image-div {
    width: 100%;
    height: 200px;
    background-position: right center;
    width: 60%;
    border-radius: 6px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
}

#triggerProfileUpload:hover, #triggerBgUpload:hover {
    cursor: pointer;
}

#backgroundOverlayDiv {
    background-color: rgba(0, 0, 0, .4);
    z-index: -99;
}

#backgroundImgDiv, #backgroundOverlayDiv {
    width: 100%;
    min-width: 770px;
    min-height: 100%;
    position: fixed;
    z-index: -100;
    transform: scale(2);
}

#profileImgDiv {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, .4);
}

/* Drop down select styling */
.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
}

.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 0 2px 0 2px;
    border-style: solid;
    border-color: #394a6d;
}

.custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 20px;
    font-weight: 300;
    color: #3b3b3b;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    cursor: pointer;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: #394a6d;
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid #394a6d;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}

.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s;
}

.custom-option:hover {
    cursor: pointer;
    background-color: #fff;
    color: #444;
}

.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}

.arrow::before,
.arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}

.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: #394a6d;
}

.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #394a6d;
}

.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}

.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}

.black-bg {
    background-color: #000;
}

.blue-bg {
    background-color: blue;
}

.red-bg {
    background-color: red;
}

.green-bg {
    background-color: green;
}

.sm-box {
    height: 20px;
    width: 20px;
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 780px) {
    .sidebar {
        display: none;
        width: 100%;
        height: auto;
    }

    .adminBackgroundDiv, .adminProfileDiv {
        flex-flow: column;
    }

    .adminBackgroundDiv #triggerBgUpload, .adminProfileDiv #triggerProfileUpload {
        width: 200px;
        margin: 0px auto;
    }
     .adminBackgroundDiv #backgroundImgPreview, .adminProfileDiv #thumbnailImgPreview {
         margin: 20px auto 20px auto;
     }

    /* toggle navigation */
    .shownavigation {
        display: block;
        width: 100%;
        height: auto;
        position: fixed;
        top: 60px;
        z-index: 200;
    }

    #mobileMenuBtn {
        display: block;
    }

    .sidebar a {
        text-align: center;
        float: none;
    }
    .sidebar a {
        text-align: center;
        float: none;
    }

    .profile-div {
        display: flex;
        flex-flow: row;
        align-items: center;
    }

    .profile-div h4 {
        margin-right: 20px;
    }

    .profile-div i {
        font-size: 34px;
    }

    #adminContent {
        width: 100%;
        position: relative;
        top: 68px;
    }

}

@media screen and (max-width: 624px) {

    #displayLinks li, #displayLinks li .link-content-div, #displayLinks li .link-content-div .buttons {
        width: 400px;
    }

    #displayLinks .link-name[contenteditable="true"],
    .edit-contentable {
        width: 394px;
    }
}

@media screen and (max-width: 580px) {
    .adminBackgroundDiv #backgroundImgPreview,
    .adminProfileDiv #thumbnailImgPreview {
        width: 100%;
    }

    header {
        display: block;
    }

    header > h2 {
        display: none;
    }

    .flex-header {
        width: 100%;
        max-width: 100%;
    }

    #siteLogo {
        display: none;
    }

    .addLink-inputBox-div {
        flex-flow: column;
        margin-bottom: 20px;
    }

    .addLink-inputBox {
        margin: 0px;
        width: 460px;
    }
    .adminSocialMediaDiv .link-input {
        min-width: 300px;
    }
}

@media screen and (max-width: 533px) {
    .addLink-inputBox {
        margin: 0px;
        width: 240px;
    }
    .adminSocialMediaDiv .link-input {
        min-width: 200px;
    }
}

@media screen and (max-width: 520px) {

    #viewContent {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .adminSocialMediaDiv .link-input {
        max-width: 240px;
        min-width: 200px;
        float: right;
    }

    .link-input-div {
        grid-template-columns: 1fr 8fr 4fr;
    }

    #backgroundImgDiv,
    #backgroundOverlayDiv {
        transform: scale(1);
        background-position: center;
    }

    #displayLinks li, #displayLinks li .link-content-div, #displayLinks li .link-content-div .buttons {
        width: 300px;
    }

    #displayLinks .link-name[contenteditable="true"],
    .edit-contentable {
        width: 294px;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 414px) {
    .addLink-inputBox {
        width: 220px;
    }

     .adminSocialMediaDiv .link-input {
         max-width: 180px;
         min-width: 140px;
     }

     .link-input-div {
         grid-template-columns: 1fr 3fr 1fr;
     }
}

@media screen and (max-width: 396px) {
    #displayLinks li,
    #displayLinks li .link-content-div,
    #displayLinks li .link-content-div .buttons {
        width: 260px;
    }

    #displayLinks .link-name[contenteditable="true"],
    .edit-contentable {
        width: 254px;
    }

    .adminSocialMediaDiv .link-input {
        max-width: 140px;
    }
}

@media screen and (max-width: 330px) {
    #displayLinks li,
    #displayLinks li .link-content-div,
    #displayLinks li .link-content-div .buttons {
        width: 200px;
    }

    #displayLinks .link-name[contenteditable="true"],
    .edit-contentable {
        width: 194px;
    }

    .adminSocialMediaDiv .link-input {
        max-width: 100px;
        padding-right: 0;
    }
}