body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

header {
    background-color: rgb(218, 159, 159);
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}